absl-py==0.9.0
astor==0.8.1
astroid==2.4.2
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
flake8==3.8.3
Flask==1.1.2
Flask-Cors==3.0.8
gast==0.2.2
grpcio==1.30.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.9
importlib-metadata==1.7.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
Keras==2.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.2
mss==5.0.0
numpy==1.18.1
opencv-python==3.4.0.12
opt-einsum==3.2.0
Pillow==7.1.0
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.5.3
PyYAML==5.3
rsa==4.1
scipy==1.4.1
six==1.15.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
toml==0.10.1
typed-ast==1.4.1
Werkzeug==1.0.0
wrapt==1.12.1
zipp==3.1.0
