<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="{{ url_for('static',filename='js/libs/p5_10_2/p5_10_2.js') }}"></script>
    <script src="{{ url_for('static',filename='js/storage.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  </head>
  <!-- on load the program will as default switch to a medium brush size of 38 -->
  <body onload="switchMedBrush()">

    {% block content %}{% endblock %}

  </body>
</html>