{% extends "index.html" %}
{% block content %}
<center>
    <div id="compiled">
        <div class="stream-container">
            <img id="stream-feed" src="{{ url_for('clean_feed') }}">
            <!-- Preview of screenshot -->
            <canvas id="canvas" width="600" height="600" hidden="true"></canvas>
        </div>
    </div>
  </center>

  <div class="div_button">
    <button class="button" id="face-tracker" type="button">Toggle mesh</button>
    <button class="button" id="capture">Take image</button>
    <button class="button" id="cancel">Cancel</button>
  </div>

  <!-- loading of all program scripts -->
  <script type="text/javascript" src="{{ url_for('static',filename='js/captureImg.js') }}"></script>
  <script>
    const cancel = document.getElementById('cancel');

    cancel.addEventListener('click', function() {
      window.location.href = 'http://0.0.0.0:5000/'
    });
  </script>

{% endblock content %}