{% extends "index.html" %}
{% block content %}
<center>
    <div id="compiled">
        <div class="stream-container">
            <img id="stream-feed" src="{{ url_for('mesh_feed') }}">
        </div>
    </div>
  </center>

  <div class="div_button">
    <button class="button" id="face-tracker" onclick="" type="button">Toggle mesh</button>
    <button class="button" id="capture" onclick="captureImage()">Take image</button>
  </div>


  <!-- loading of all program scripts -->
  <script>
    //   Both button will be constructed as fetch requests to interact with face-tracker backend
    function captureImage()
    {

    }

    function toggleMesh()
    {

    }
  </script>

{% endblock content %}